@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family:'Lora', serif ;
	font-size: 18px;
	background: #e4e4e4bd;
}

h1,h2,h3{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;



}
a{	text-decoration: none;
	font-size:20px;
	color: rgba(50,0,0,0.5);
	font-weight: bold;
	transition: all .2s ease;
	}

a:hover{
	color:rgb(52, 51, 50);
}